@font-face {
    font-family: Wargo; 
    src: url(../fonts/Wargo.otf);
}

@font-face {
    font-family: als; 
    src: url(../fonts/alsscrp.ttf);
}

@font-face {
    font-family: CascadiaMono; 
    src: url(../fonts/CascadiaMono.ttf);
}

@font-face {
    font-family: FranklinGothic; 
    src: url(../fonts/OPTIFranklinGothic-Medium.otf);
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

.certificate-background {
    position: absolute; 
    width: 350mm; 
    height: 175mm;
    
    border: 5px solid #000000;
    border-radius: 10px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.shap1 {
    background-color: #f2f2f2;
    height: 100mm;
    width: 50mm;
    position: absolute;
    top: -12mm; 
    left: -17mm;
    transform: rotate(145deg);
}
.shap2 {
    background-color: #343434;
    height: 36mm;
    width: 363mm;
    position: absolute;
    top: 65mm;
    left: -17mm;
    clip-path: polygon(0 100%, 0 0, 100% 0, 96% 100%);
}

.shap3 {
    background-color: #f67f19;
    height: 100mm;
    width: 50mm;
    position: absolute;
    top: 1mm; 
    left: -7mm; 
    clip-path: polygon(0 0, 0 15%, 93% 100%, 0% 100%);
}

.shap4 {
    background-color: #f67f19;
    height: 69mm;
    width: 75mm;
    position: absolute;
    top: 32mm;
    right: 0mm;
    clip-path: polygon(0% 0%, 0% 0%, 67% 0%, 100% 48%, 75% 100%);
}

.shap5 {
    background-color: #f8a724;
    height: 25mm;
    width: 75mm;
    position: absolute;
    top: 7mm;
    right: 0mm;
    clip-path: polygon(18% 0, 100% 0%, 100% 100%, 0 100%);
}

.shap6 {
    background-color: #f67f19;
    height: 9mm;
    width: 450mm;
    position: absolute;
    top: 166mm;
    right: 0mm;
    transform: rotate(0deg);
}

.shap7 {
    background-color: #f67f19;
    height: 73mm;
    width: 150mm;
    position: absolute;
    top: 99mm;
    right: 0mm;
    clip-path: polygon(100% 0, 52% 100%, 100% 100%);
}

.logo{
    position: absolute;
    top: 111mm;
    right: -2mm;

}

.containt{
    position: absolute;
}
.Certificate {
    color: #333;
    font-size: 17mm;
    font-weight: bold;
    padding: 0mm 51mm;
    font-family: FranklinGothic;
    letter-spacing: 8.5pt; 
}
.p2{
    margin: -16mm 63mm;
    font-size: 45.9pt;
    color: rgba(128, 128, 128, 0.691);
    font-family: CascadiaMono;
    font-weight: bold;
}
.p3{
    padding: 24mm 48mm;
    font-size: 28.3pt;
    font-weight: bold;
    color: white;
}
.p3>span{
    color: #f8a724 !important;
}
.h2{
    text-align: center;
    font-size: 28.3pt;
    margin: -18mm 0mm;
}
.p4{
    margin: 24mm;
    width: 273mm;
    font-size: 8.5pt;
    text-align: justify;
}

.footer{
    display: flex;
    text-align: center;
    font-size: 11.3pt;
    font-weight: bold;
    margin: -22mm 0 0 21px;
}
.p5{
    flex: 1;
}
.p6{
    flex: 2;
    margin: 0 0 0 80mm;

}
.p6>img{
    height: 15mm;
    width: 15mm;
}
.p7{
    flex: 3;
}
.p7>img{
    margin: -4mm;
}
.h2{
    font-family: als;
    padding: -5mm 0mm;
  
}